<div class="flex items-center h-screen">
  <div class=" bg-gray-800 flex flex-col mx-auto max-w-md w-full rounded-xl p-6 shadow-lg shadow-black selection:bg-indigo-500 selection:text-white">
    <div class="mx-auto mt-10">
      <h1 class="text-4xl uppercase font-bold text-white text-center my-3">Reset your password</h1>
      <p class="text-gray-500 font-semibold mb-3 text-center">Please enter your email, we will sand you a message for reset your password</p>
    </div>
    <div class="max-w-md w-full mx-auto">
      <form [formGroup]="forgotForm" (ngSubmit)="submited = true">

        <div class="my-2 px-4">
          <input formControlName="email" class="w-full p-2 rounded-md mt-3 invalid:text-pink-700 invalid:outline-pink-800 transition-all ease-in-out duration-150" type="email">
          <p class="text-center text-white font-semibold">Email</p>
          <p *ngIf="this.forgotForm.get('email')?.invalid && this.forgotForm.get('email')?.touched" class="text-center text-pink-800 font-semibold text-sm mt-2">Email is required</p>
          <div *ngIf="submited" @fadeIn><p class="text-green-500 text-center">Message has been sent to your email</p></div>
        </div>


        <div class="w-full text-center">
          <button
            [disabled]="forgotForm.invalid"
            type="submit"
            class="border rounded-md border-white text-white font-semibold text-xl py-2 px-14 my-3 duration-500 mb-6 disabled:border-gray-500 disabled:text-gray-500 active:hover:bg-gray-400 transition-all ease-in-out focus:bg-white focus:text-gray-800">Confirm</button>
        </div>


        <p class="text-white font-semibold text-sm text-center"><a routerLink="../house/h-home" class="text-gray-500 font-semibold hover:text-gray-400 transition-all ease-in-out duration-150 hover:underline">Home</a></p>
      </form>
    </div>

</div>
</div>
