.e241{
  color: white;
  font-size: 36px;
}
.mat-mdc-option .mdc-list-item__primary-text{
  width: 100%;
  margin-right: 0;
  height: 100%;
}
.mat-mdc-menu-item .mat-icon{
  top: 0;
  color: rgb(31,41,55);
}
.mat-mdc-menu-item{
  justify-content: center;
  padding: 8px;
  width: 100%;
  color: rgb(31,41,55);
}
#menu{
  font-size: 48px;
  height: fit-content;
  width: fit-content;
}
/* mat-menu{
  width: 100%;
  min-width: 100%;
} */

