<div class="flex items-center h-screen">
  <div class=" bg-gray-800 flex flex-col mx-auto max-w-md w-full rounded-xl p-6 shadow-lg shadow-black selection:bg-indigo-500 selection:text-white">
    <div class="mx-auto mt-10">
      <h1 class="text-4xl uppercase font-bold text-white text-center my-3">Sign Up</h1>
      <p class="text-gray-500 font-semibold mb-3 text-center">Please enter your personal data</p>
    </div>
    <div class="max-w-md w-full mx-auto">
      <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">

        <div class="my-2 px-4">
          <input formControlName="email" class="w-full p-2 rounded-md mt-3 invalid:text-pink-700 invalid:outline-pink-800 transition-all ease-in-out duration-150" type="email">
          <p class="text-center text-white font-semibold">Email</p>
          <p *ngIf="this.registrationForm.get('email')?.invalid && this.registrationForm.get('email')?.touched" class="text-center text-pink-800 font-semibold text-sm mt-2">Email is required</p>
        </div>
        <div class="my-2 px-4">
          <input formControlName="name" class="w-full p-2 rounded-md mt-3 invalid:text-pink-700 invalid:outline-pink-800 transition-all ease-in-out duration-150" type="text">
          <p class="text-center text-white font-semibold">User name</p>
          <p *ngIf="this.registrationForm.get('name')?.invalid && this.registrationForm.get('name')?.touched" class="text-center text-pink-800 font-semibold text-sm mt-2">At least 4 symbols</p>
        </div>

        <div class="my-2 px-4">
          <input [ngClass]="{
            'outline-pink-800': this.registrationForm.get('password')?.invalid  && this.registrationForm.get('password')?.touched
          }"
          formControlName="password" class="w-full p-2 rounded-md mt-3" type="password">
          <p class="text-center text-white font-semibold">Password</p>
          <p
            *ngIf="this.registrationForm.get('password')?.invalid && this.registrationForm.get('password')?.touched" class="text-center  text-pink-800 font-semibold text-sm mt-2">Password is required at least 1 letter and 7 symbols</p>
        </div>
        <div class="w-full text-center">
          <button
            [disabled]="registrationForm.invalid"
            type="submit"
            class="border rounded-md border-white text-white font-semibold text-xl py-2 px-14 my-3 duration-500 mb-6 disabled:border-gray-500 disabled:text-gray-500 active:hover:bg-gray-400 transition-all ease-in-out focus:bg-white focus:text-gray-800">Create account</button>
          </div>
          <p class="text-white font-semibold text-sm text-center"><a routerLink="../house/h-home" class="text-gray-500 font-semibold hover:text-gray-400 transition-all ease-in-out duration-150 hover:underline">Home</a></p>

      </form>
    </div>

</div>
</div>
