<div class="min-h-[100vh]">

  <mat-card class="max-w-4xl h-fit mx-auto sm:my-3 p-3 items-center sm:mb-10">

    <mat-card-header class="mb-10">
      <mat-card-title class="text-xl" >{{product.title}}</mat-card-title>
    </mat-card-header>
    <div class="shrink">
      <ng-image-slider [infinite]="sliderInfinite" [images]="imageObjects" #nav></ng-image-slider>

        <mat-card-content>
          <h1 class="text-xl font-medium my-3 mx-3">Description:</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt labore, distinctio ut similique praesentium hic excepturi? Tempore natus nobis aspernatur rerum debitis? Dolor quas consectetur non eveniet eos beatae, vel et sunt blanditiis ipsum obcaecati ratione ex aliquid cupiditate modi. Suscipit illum mollitia cumque, facere esse dolorem veniam reprehenderit fuga nesciunt quo quae enim saepe iure accusamus consequatur ratione at consequuntur excepturi quibusdam ullam doloribus asperiores. Sed impedit vero similique laudantium officia qui numquam facilis, quasi esse repudiandae, nisi ut distinctio inventore commodi doloremque temporibus pariatur perspiciatis delectus, earum molestias provident dolorum. </p>
          <p class="text-xl font-medium my-3">Price: <span class="font-bold" [ngClass]="{'text-red-800': product.price >= 1000}">{{product.price | currency}}</span></p>
        </mat-card-content>
        <mat-card-actions class="">
          <button mat-button (click)="this.cartService.addToCart(product, cart$)" class="btn hover:bg-indigo-500 transition-all ease-in-out duration-300 ">Add to cart</button>
          <button mat-button (click)="buyNow()" class="btn hover:bg-indigo-500 transition-all ease-in-out duration-300 ">Buy Now</button>
          <button routerLink="../../" mat-button class="btn hover:bg-indigo-500 transition-all ease-in-out duration-300 ">Back</button>
        </mat-card-actions>
    </div>


  </mat-card>
  <div class=" max-w-4xl h-fit mx-auto sm:my-3 p-3 items-center sm:mb-10 bg-gray-100 sm:rounded-md">
    <div class="flex w-full flex-col- justify-between items-center mb-2">
      <h1 class="font-normal px-3 text-lg">Reviews</h1>
      <button class=" px-6 py-2 bg-blue-500 rounded-md text-white hover:bg-blue-400 transition all ease-in-out duration-350" (click)="createReview()">Create review</button>
    </div>
    <div *ngIf="!product.reviews || product.reviews.length < 1" class="bg-gray-300 h-full p-2">
      <div class="">
        <p>No reviews yet</p>
      </div>
    </div>
    <div *ngIf="product.reviews && product.reviews.length >= 1" class="flex flex-wrap sm:rounded-md">
      <div *ngFor="let review of product.reviews" class=" p-2 border border-gray-300 max-w-xs overflow-hidden hover:overflow-visible">
          <h1>User</h1>
          <p>{{review}}</p>

      </div>
    </div>
  </div>
</div>
